body {
    background: #E5E5E5;
}

header {
    position: fixed;
    height: 56px;
    width: 100%;
    background-color: white;
    margin-top: -56px;
    left: 0;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.main {
    margin-top: 56px;
}

#logo {
    margin-left: 100px;
    margin-top: 5px;
}

.header_contents {
    margin: -42px 15px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
}

.header_contents li {
    padding: 15px;
    float: right;
    list-style-type: none;
    font: 14px/27px sans-serif;
    font-weight: bold;
}

.header_contents li a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.header_contents .main_page {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.header_contents .receive_a_call {
    border-radius: 50px;
    background-color: #35CC79;
    height: 1000px;
    padding: 10px;
    color: white;
}

.slogan {
    padding: 60px 90px;
    display: flex;
    flex-wrap: wrap;
    font: 55px/27px sans-serif;
    font-weight: bold;
}