body {
    background: #E5E5E5;
}

header {
    position: fixed;
    height: 56px;
    width: 100%;
    background-color: white;
    margin-top: -56px;
    left: 0;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    z-index: 1;
}

.main {
    margin-top: 56px;
}

#logo {
    margin-left: 100px;
    margin-top: 5px;
}

.header_contents {
    margin: -42px 15px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
}

.header_contents li {
    padding: 15px;
    float: right;
    list-style-type: none;
    font: 14px/27px sans-serif;
    font-weight: bold;
}

.header_contents li a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    text-underline-offset: 10px;
}

.about_us:hover, .purchase:hover, .use_cases:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

a.receive_a_call:hover {
    background-color: #5ede98;
}

a.receive_a_call:focus {
    background-color: #1d9453;
}

.header_contents .main_page {
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
}

.header_contents .receive_a_call {
    border-radius: 50px;
    background-color: #35CC79;
    height: 1000px;
    padding: 10px;
    color: white;
}

.main {
    padding: 60px 90px;
}

.slogan {
    display: flex;
    flex-wrap: wrap;
    font: 55px/27px sans-serif;
    font-weight: bold;
}

.tagline {
    padding: 110px 10px;
    font: 28px/27px sans-serif;
    width: 463px;
}

.tagline b {
    font: 36px/38px sans-serif;
    font-weight: bold;
    display: block;
    padding-bottom: 30px;
}

.tagline ins {
    text-decoration-color: #B4ABAB;
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
}

.graphs {
    position: absolute;
    right: 0;
    top: 10px;
}

.title {
    padding-top: 180px;
    font: 55px/27px sans-serif;
    text-align: center;
    font-weight: bold;
}